---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"MetricsService":"STARTED","Implementation-Version":"0.28.4.Final-redhat-1","Built-From-Git-SHA1":"9ffa8dd648ba0b24bdc52c1717a9b0c0ae1f1472","Cassandra":"up"}'
  recorded_at: Tue, 20 Nov 2018 09:11:48 GMT
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/registry%2Fbf535857-b859-11e8-b94f-001a4a162622%2Fcpu%2Fusage/stats/?bucketDuration=20s&end=1542652842000&start=1542652522000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"start":1542652522000,"end":1542652542000,"min":7.028236624041E12,"avg":7.028236624041E12,"median":7.028236624041E12,"max":7.028236624041E12,"sum":7.028236624041E12,"samples":1,"empty":false},{"start":1542652542000,"end":1542652562000,"min":7.028268378752E12,"avg":7.028268378752E12,"median":7.028268378752E12,"max":7.028268378752E12,"sum":7.028268378752E12,"samples":1,"empty":false},{"start":1542652562000,"end":1542652582000,"empty":true},{"start":1542652582000,"end":1542652602000,"min":7.028312021682E12,"avg":7.028312021682E12,"median":7.028312021682E12,"max":7.028312021682E12,"sum":7.028312021682E12,"samples":1,"empty":false},{"start":1542652602000,"end":1542652622000,"min":7[...]
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/gauges/registry%2Fbf535857-b859-11e8-b94f-001a4a162622%2Fmemory%2Fworking_set/stats/?bucketDuration=20s&end=1542652842000&start=1542652542000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Conten[...]
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/pod%2Fbf535857-b859-11e8-b94f-001a4a162622%2Fnetwork%2Ftx/stats/?bucketDuration=20s&end=1542652842000&start=1542652522000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/pod%2Fbf535857-b859-11e8-b94f-001a4a162622%2Fnetwork%2Frx/stats/?bucketDuration=20s&end=1542652842000&start=1542652522000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
