---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"bindings","singularName":"","namespaced":true,"kind":"Binding","verbs":["create"]},{"name":"componentstatuses","singularName":"","namespaced":false,"kind":"ComponentStatus","verbs":["get","list"],"shortNames":["cs"]},{"name":"configmaps","singularName":"","namespaced":true,"kind":"ConfigMap","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["cm"]},{"name":"endpoints","singularName":"","namespaced":true,"kind":"Endpoints","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ep"]},{"name":"events","singularName":"","namespaced":true,"kind":"Event","verbs":["create","delete","deletecollection","get","list","p[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/pods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/pods","resourceVersion":"3202601"},"items":[{"metadata":{"name":"docker-registry-1-f5nc7","generateName":"docker-registry-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/docker-registry-1-f5nc7","uid":"7adbb0f4-ba46-11e7-8d70-001a4a2314d6","resourceVersion":"3194032","creationTimestamp":"2017-10-26T12:09:12Z","labels":{"deployment":"docker-registry-1","deploymentconfig":"docker-registry","docker-registry":"default"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"docker-registry-1\",\"uid\":\"793f0bff-ba46-11e7-8d70-001a4a2314d6\",\"apiVersion\":\"v1\",\"resourceVersion\":\"1740\"}}\n","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.name":"docker-registry-1","openshift.io/scc":"restricted"},"ownerReferences":[{"apiVersion":"v1","kind":"ReplicationController","name":"docker-registry-1","uid":"793f0bff-ba46-11e7-8d70-001a4a2314d6","controller":true,"blockOwnerDeletion":true}]},"spec":{"volumes":[{"name":"registry-storage","emptyDir":{"sizeLimit":"0"}},{"name":"registry-certificates","secret":{"secretName":"registry-certificates","defaultMode":420}},{"name":"registry-token-p76hv","secret":{"secretName":"registry-token-p76hv","defaultMode":420}}],"containers":[{"name":"registry","image":"openshift/origin-docker-registry:v3.7.0-alpha.1","ports":[{"containerPort":5000,"protocol":"TCP"}],"env":[{"name":"REGISTRY_HTTP_ADDR","value":":5000"},{"name":"REGISTRY_HTTP_NET","value":"tcp"},{"name":"REGISTRY_HTTP_SECRET","value":"aAT/mf/u4R8eq6LqTr7ZMaGpstc/T9MZouf3JScPiGs="},{"name":"REGISTRY_MIDDLEWARE_REPOSITORY_OPENSHIFT_ENFORCEQUOTA","value":"false"},{"name":"OPENSHIFT_DEFAULT_REGISTRY","value":"docker-registry.default.svc:5000"},{"name":"REGISTRY_HTTP_TLS_KEY","value":"/etc/secrets/registry.key"},{"name":"REGISTRY_HTTP_TLS_CERTIFICATE","value":"/etc/secrets/registry.crt"}],"resources":{"requests":{"cpu":"100m","memory":"256Mi"}},"volumeMounts":[{"name":"registry-storage","mountPath":"/registry"},{"name":"registry-certificates","mountPath":"/etc/secrets"},{"name":"registry-token-p76hv","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"livenessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"initialDelaySeconds":10,"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"readinessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"IfNotPresent","securityContext":{"capabilities":{"drop":["KILL","MKNOD","SETGID","SETUID"]},"privileged":false,"seLinuxOptions":{"level":"s0:c1,c0"},"runAsUser":1000000000}}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","nodeSelector":{"region":"infra"},"serviceAccountName":"registry","serviceAccount":"registry","nodeName":"capture.context.com","securityContext":{"seLinuxOptions":{"level":"s0:c1,c0"},"fsGroup":1000000000},"imagePullSecrets":[{"name":"registry-dockercfg-m78nf"}],"schedulerName":"default-scheduler"},"status":{"phase":"Running","conditions":[{"type":"Initialized","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-10-26T12:09:12Z"},{"type":"Ready","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-11-28T15:49:07Z"},{"type":"PodScheduled","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-10-26T12:09:12Z"}],"hostIP":"10.35.19.247","podIP":"10.128.0.66","startTime":"2017-10-26T12:09:12Z","containerStatuses":[{"name":"registry","state":{"running":{"startedAt":"2017-11-28T15:49:02Z"}},"lastState":{"terminated":{"exitCode":2,"reason":"Error","startedAt":"2017-11-28T15:22:20Z","finishedAt":"2017-11-28T15:48:27Z","containerID":"docker://20b37cd169c9053073ebb72d08e62738b57a42ea1b5acd31917177467999b129"}},"ready":true,"restartCount":53,"image":"docker.io/openshift/origin-docker-registry:v3.7.0-alpha.1","imageID":"docker-pullable://docker.io/openshift/origin-docker-registry@sha256:f72d40df9618108174c9b510e72625a903ba35edae6114d691d320a24e81c717","containerID":"docker://366bfd5c73be2038a6ffaeec9e59591ed49e9d3f3f70745362446dd9da236933"}],"qosClass":"Burstable"}},{"metadata":{"name":"registry-console-1-b7xt6","generateName":"registry-console-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/registry-console-1-b7xt6","uid":"9a969989-ba46-11e7-8d70-001a4a2314d6","resourceVersion":"3194085","creationTimestamp":"2017-10-26T12:10:06Z","labels":{"app":"registry-console","deployment":"registry-console-1","deploymentconfig":"registry-console","name":"registry-console"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"registry-console-1\",\"uid\":\"994590ec-ba46-11e7-8d70-001a4a2314d6\",\"apiVersion\":\"v1\",\"resourceVersion\":\"1884\"}}\n","openshift.io/deployment-config.latest-version":"1","openshift.io/depl[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ServiceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/services","resourceVersion":"3202601"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/services/docker-registry","uid":"70b6c467-ba46-11e7-8d70-001a4a2314d6","resourceVersion":"1623","creationTimestamp":"2017-10-26T12:08:55Z"},"spec":{"ports":[{"name":"5000-tcp","protocol":"TCP","port":5000,"targetPort":5000}],"selector":{"docker-registry":"default"},"clusterIP":"172.30.86.136","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/services/kubernetes","uid":"64d52aa1-ba45-11e7-a0fd-001a4a2314d6","resourceVersion":"67","creationTimestamp":"2017-10-26T12:01:26Z","labels":{"component":"apiserver","provider":"kubernetes"}},"spec":{"ports":[{"name":"https","protocol":"TCP","port":443,"targetPort":8443},{"name":"dns","protocol":"UDP","port":53,"targetPort":8053},{"name":"dns-tcp","protocol":"TCP","port":53,"targetPort":8053}],"clusterIP":"172.30.0.1","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"registry-console","namespace":"default","selfLink":"/api/v1/namespaces/default/services/registry-console","uid":"994744dc-ba46-11e7-8d70-001a4a2314d6","resourceVersion":"1858","creationTimestamp":"2017-10-26T12:10:04Z","labels":{"app":"registry-console","createdBy":"registry-console-template","name":"registry-console"},"annotations":{"openshift.io/generated-by":"OpenShiftNewApp"}},"spec":{"ports":[{"name":"registry-console","protocol":"TCP","port":9000,"targetPort":9090}],"selector":{"name":"registry-console"},"clusterIP":"172.30.251.175","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"router","namespace":"default","selfLink":"/api/v1/namespaces/default/services/router","uid":"03dc9206-ba46-11e7-8d70-001a4a2314d6","resourceVersion":"1298","creationTimestamp":"2017-10-26T12:05:53Z","labels":{"router":"router"},"annotations":{"prometheus.io/port":"1936","prometheus.io/scrape":"true","prometheus.openshift.io/password":"YppSe9yllk","prometheus.openshift.io/username":"admin"}},"spec":{"ports":[{"name":"80-tcp","protocol":"TCP","port":80,"targetPort":80},{"name":"443-tcp","protocol":"TCP","port":443,"targetPort":443},{"name":"1936-tcp","protocol":"TCP","port":1936,"targetPort":1936}],"selector":{"router":"router"},"clusterIP":"172.30.117.249","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"hawkular-cassandra","namespace":"openshift-infra","selfLink":"/api/v1/namespaces/openshift-infra/services/hawkular-cassandra","uid":"0a619270-ba47-11e7-8d70-001a4a2314d6","resourceVersion":"2368","creationTimestamp":"2017-10-26T12:13:13Z","labels":{"metrics-infra":"hawkular-cassandra","name":"hawkular-cassandra"},"annotations":{"service.alpha.openshift.io/serving-cert-generation-error":"secret/hawkular-cassandra-certs
        references serviceUID , which does not match 0a619270-ba47-11e7-8d70-001a4a2314d6","service.alpha.openshift.io/serving-cert-generation-error-num":"10","service.alpha.openshift.io/serving-cert-secret-name":"hawkular-cassandra-certs"}},"spec":{"ports":[{"name":"cql-port","protocol":"TCP","port":9042,"targetPort":"cql-port"},{"name":"th[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/replicationcontrollers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ReplicationControllerList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/replicationcontrollers","resourceVersion":"3202601"},"items":[{"metadata":{"name":"docker-registry-1","namespace":"default","selfLink":"/api/v1/namespaces/default/replicationcontrollers/docker-registry-1","uid":"793f0bff-ba46-11e7-8d70-001a4a2314d6","resourceVersion":"3194034","generation":2,"creationTimestamp":"2017-10-26T12:09:10Z","labels":{"docker-registry":"default","openshift.io/deployment-config.name":"docker-registry"},"annotations":{"openshift.io/deployer-pod.completed-at":"2017-10-26
        15:09:43 +0300 IDT","openshift.io/deployer-pod.created-at":"2017-10-26 15:09:10
        +0300 IDT","openshift.io/deployer-pod.name":"docker-registry-1-deploy","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.phase":"Complete","openshift.io/deployment.replicas":"1","openshift.io/deployment.status-reason":"config
        change","openshift.io/encoded-deployment-config":"{\"kind\":\"DeploymentConfig\",\"apiVersion\":\"v1\",\"metadata\":{\"name\":\"docker-registry\",\"namespace\":\"default\",\"selfLink\":\"/apis/apps.openshift.io/v1/namespaces/default/deploymentconfigs/docker-registry\",\"uid\":\"793ae1c7-ba46-11e7-8d70-001a4a2314d6\",\"resourceVersion\":\"1719\",\"generation\":1,\"creationTimestamp\":\"2017-10-26T12:09:10Z\",\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"strategy\":{\"type\":\"Rolling\",\"rollingParams\":{\"updatePeriodSeconds\":1,\"intervalSeconds\":1,\"timeoutSeconds\":600,\"maxUnavailable\":\"25%\",\"maxSurge\":\"25%\"},\"resources\":{},\"activeDeadlineSeconds\":21600},\"triggers\":[{\"type\":\"ConfigChange\"}],\"replicas\":1,\"test\":false,\"selector\":{\"docker-registry\":\"default\"},\"template\":{\"metadata\":{\"creationTimestamp\":null,\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"volumes\":[{\"name\":\"registry-storage\",\"emptyDir\":{}},{\"name\":\"registry-certificates\",\"secret\":{\"secretName\":\"registry-certificates\",\"defaultMode\":420}}],\"containers\":[{\"name\":\"registry\",\"image\":\"openshift/origin-docker-registry:v3.7.0-alpha.1\",\"ports\":[{\"containerPort\":5000,\"protocol\":\"TCP\"}],\"env\":[{\"name\":\"REGISTRY_HTTP_ADDR\",\"value\":\":5000\"},{\"name[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"3202601"},"items":[{"metadata":{"name":"capture.context.com","selfLink":"/api/v1/nodes/capture.context.com","uid":"cf8405cf-ba45-11e7-8d70-001a4a2314d6","resourceVersion":"3202590","creationTimestamp":"2017-10-26T12:04:25Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/hostname":"capture.context.com","region":"infra","zone":"default"},"annotations":{"volumes.kubernetes.io/controller-managed-attach-detach":"true"}},"spec":{"externalID":"capture.context.com"},"status":{"capacity":{"cpu":"2","memory":"3879824Ki","pods":"20"},"allocatable":{"cpu":"2","memory":"3777424Ki","pods":"20"},"conditions":[{"type":"OutOfDisk","status":"False","lastHeartbeatTime":"2017-11-28T17:28:01Z","lastTransitionTime":"2017-11-27T18:58:16Z","reason":"KubeletHasSufficientDisk","message":"kubelet
        has sufficient disk space available"},{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2017-11-28T17:28:01Z","lastTransitionTime":"2017-11-27T18:58:16Z","reason":"KubeletHasSufficientMemory","message":"kubelet
        has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2017-11-28T17:28:01Z","lastTransitionTime":"2017-11-27T18:58:16Z","reason":"KubeletHasNoDiskPressure","message":"kubelet
        has no disk pressure"},{"type":"Ready","status":"True","lastHeartbeatTime":"2017-11-28T17:28:01Z","lastTransitionTime":"2017-11-28T15:22:12Z","reason":"KubeletReady","message":"kubelet
        is posting ready status"}],"addresses":[{"type":"InternalIP","address":"10.35.19.247"},{"type":"Hostname","address":"capture.context.com"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"72149920a26e4497a748a9284ae367a9","systemUUID":"72149920-A26E-4497-A748-A9284AE367A9","bootID":"89bc2c65-8cc0-47d5-8866-a0a3203094d9","kernelVersion":"3.10.0-693.5.2.el7.x86_64","osImage":"CentOS
        Linux 7 (Core)","containerRuntimeVersion":"docker://1.12.6","kubeletVersion":"v1.7.6+a08f5eeb62","kubeProxyVersion":"v1.7.6+a08f5eeb62","operatingSystem":"linux","architecture":"amd64"},"images":[{"names":["docker.io/openshift/origin-metrics-deployer@sha256:eb09bd5e38037f754700072744236452b1412eb2ef43abd70c2a036ac950152b","docker.io/openshift/origin-metrics-deployer:v3.6.0-rc.0"],"sizeBytes":1143263815},{"names":["docker.io/openshift/origin-haproxy-router@sha256:9e6c9d202cfdd96c8cdd962724e1c3574e291f942574f2e86569663233e87708","docker.io/openshift/origin-haproxy-router:v3.7.0-alpha.1"],"sizeBytes":1078491559},{"names":["docker.io/openshift/origin-deployer@sha256:92600feabaa1319a7e97fa6a4b74cf5172eb3e03d3c087b8bfd38de75d40d09a","docker.io/openshift/origin-deployer:v3.7.0-alpha.1"],"sizeBytes":1057436301},{"names":["docker.io/openshift/origin-metrics-hawkular-metrics@sha256:468dfd5a3b[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"EndpointsList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/endpoints","resourceVersion":"3202601"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/docker-registry","uid":"70d2a9ec-ba46-11e7-8d70-001a4a2314d6","resourceVersion":"3194033","creationTimestamp":"2017-10-26T12:08:56Z"},"subsets":[{"addresses":[{"ip":"10.128.0.66","nodeName":"capture.context.com","targetRef":{"kind":"Pod","namespace":"default","name":"docker-registry-1-f5nc7","uid":"7adbb0f4-ba46-11e7-8d70-001a4a2314d6","resourceVersion":"3194032"}}],"ports":[{"name":"5000-tcp","port":5000,"protocol":"TCP"}]}]},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/kubernetes","uid":"64e9e9bb-ba45-11e7-a0fd-001a4a2314d6","resourceVersion":"69","creationTimestamp":"2017-10-26T12:01:26Z"},"subsets":[{"addresses":[{"ip":"10.35.19.247"}],"ports":[{"name":[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/namespaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces","resourceVersion":"3202601"},"items":[{"metadata":{"name":"default","selfLink":"/api/v1/namespaces/default","uid":"64c8baa2-ba45-11e7-a0fd-001a4a2314d6","resourceVersion":"1301","creationTimestamp":"2017-10-26T12:01:26Z","annotations":{"openshift.io/node-selector":"","openshift.io/sa.initialized-roles":"true","openshift.io/sa.scc.mcs":"s0:c1,c0","openshift.io/sa.scc.supplemental-groups":"1000000000/10000","openshift.io/sa.scc.uid-range":"1000000000/10000"}},"spec":{"finalizers":["kubernetes","openshift.io/origin"]},"status":{"phase":"Active"}},{"metadata":{"name":"grafana","selfLink":"/api/v1/namespaces/grafana","uid":"6cdc4f86-ba52-11e7-8d70-001a4a2314d6","resourceVersion":"9363","creationTimestamp":"2017-10-26T13:34:43Z","annotations":{"openshift.io/description":"","openshift.io/display-name":"","openshift.io/requester":"system:admin","openshift.io/sa.scc.mcs":"s0:c9,c4","openshift.io/sa.scc.supplemental-groups":"1000080000/10000","openshift.io/sa.scc.uid-range":"100[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/resourcequotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ResourceQuotaList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/resourcequotas","resourceVersion":"3202601"},"items":[]}

'
  recorded_at: Tue, 28 Nov 2017 17:28:08 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/limitranges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"LimitRangeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/limitranges","resourceVersion":"3202601"},"items":[]}

'
  recorded_at: Tue, 28 Nov 2017 17:28:08 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumes","resourceVersion":"3202601"},"items":[]}

'
  recorded_at: Tue, 28 Nov 2017 17:28:08 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumeclaims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeClaimList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumeclaims","resourceVersion":"3202601"},"items":[]}

'
  recorded_at: Tue, 28 Nov 2017 17:28:08 GMT
recorded_with: VCR 3.0.3
