---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"MetricsService":"STARTED","Implementation-Version":"0.28.4.Final-redhat-1","Built-From-Git-SHA1":"9ffa8dd648ba0b24bdc52c1717a9b0c0ae1f1472","Cassandra":"up"}'
  recorded_at: Tue, 20 Nov 2018 09:11:47 GMT
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/machine%2Fyaacov-3-master001.10.35.48.34.nip.io%2Fcpu%2Fusage/stats/?bucketDuration=20s&end=1542652842000&start=1542652522000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"start":1542652522000,"end":1542652542000,"min":8.93525859782793E14,"avg":8.93525859782793E14,"median":8.93525859782793E14,"max":8.93525859782793E14,"sum":8.93525859782793E14,"samples":1,"empty":false},{"start":1542652542000,"end":1542652562000,"min":8.93530256207051E14,"avg":8.93530256207051E14,"median":8.93530256207051E14,"max":8.93530256207051E14,"sum":8.93530256207051E14,"samples":1,"empty":false},{"start":1542652562000,"end":1542652582000,"empty":true},{"start":1542652582000,"end":1542652602000,"min":8.93533855450341E14,"avg":8.93533855450341E14,"median":8.93533855450341E14,"max":8.93533855450341E14,"sum":8.93533855450341E14,"samples":1,"empty":false},{"start":1542652602000,"end":1[...]
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/gauges/machine%2Fyaacov-3-master001.10.35.48.34.nip.io%2Fmemory%2Fworking_set/stats/?bucketDuration=20s&end=1542652842000&start=1542652542000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Conten[...]
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/machine%2Fyaacov-3-master001.10.35.48.34.nip.io%2Fnetwork%2Ftx/stats/?bucketDuration=20s&end=1542652842000&start=1542652522000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type[...]
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/machine%2Fyaacov-3-master001.10.35.48.34.nip.io%2Fnetwork%2Frx/stats/?bucketDuration=20s&end=1542652842000&start=1542652522000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type[...]
