---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"MetricsService":"STARTED","Implementation-Version":"0.28.4.Final-redhat-1","Built-From-Git-SHA1":"9ffa8dd648ba0b24bdc52c1717a9b0c0ae1f1472","Cassandra":"up"}'
  recorded_at: Tue, 20 Nov 2018 09:11:04 GMT
- request:
    method: post
    uri: https://capture.context.com/hawkular/metrics/m/stats/query
    body:
      encoding: UTF-8
      string: '{"start":1542644802000,"end":1542645462000,"bucketDuration":"60s","tags":"descriptor_name:network/tx_rate|network/rx_rate|cpu/usage_rate|memory/working_set,type:node,host_id:yaacov-3-master001.10.35.48.34.nip.io"}'
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"gauge":{"machine/yaacov-3-master001.10.35.48.34.nip.io/network/rx_rate":[{"start":1542644802000,"end":1542644862000,"min":1930.4222412109375,"avg":2769.5681762695312,"median":1930.4222412109375,"max":3608.714111328125,"sum":5539.1363525390625,"samples":2,"empty":false},{"start":1542644862000,"end":1542644922000,"min":2171.161376953125,"avg":2191.986083984375,"median":2171.161376953125,"max":2212.810791015625,"sum":4383.97216796875,"samples":2,"empty":false},{"start":1542644922000,"end":1542644982000,"min":1906.7501220703125,"avg":2241.5346069335938,"median":1906.7501220703125,"max":2576.319091796875,"sum":4483.0692138671875,"samples":2,"empty":false},{"start":1542644982000,"end":1542645042000,"min":2131.521728515625,"avg":3358.4036865234375,"median":213[...]
