---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"bindings","namespaced":true,"kind":"Binding"},{"name":"componentstatuses","namespaced":false,"kind":"ComponentStatus"},{"name":"configmaps","namespaced":true,"kind":"ConfigMap"},{"name":"endpoints","namespaced":true,"kind":"Endpoints"},{"name":"events","namespaced":true,"kind":"Event"},{"name":"limitranges","namespaced":true,"kind":"LimitRange"},{"name":"namespaces","namespaced":false,"kind":"Namespace"},{"name":"namespaces/finalize","namespaced":false,"kind":"Namespace"},{"name":"namespaces/status","namespaced":false[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/pods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/pods","resourceVersion":"37621"},"items":[{"metadata":{"name":"docker-registry-1-w23wd","generateName":"docker-registry-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/docker-registry-1-w23wd","uid":"5bae6bfe-609c-11e7-9ac7-001a4a2314d5","resourceVersion":"1504","creationTimestamp":"2017-07-04T09:37:12Z","labels":{"deployment":"docker-registry-1","deploymentconfig":"docker-registry","docker-registry":"default"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"docker-registry-1\",\"uid\":\"5a9a86d0-609c-11e7-9ac7-001a4a2314d5\",\"apiVersion\":\"v1\",\"resourceVersion\":\"906\"}}\n","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.name":"docker-registry-1","openshift.io/scc":"hostnetwork"}},"spec":{"volumes":[{"name":"registry-storage","emptyDir":{}},{"name":"registry-certificates","secret":{"secretName":"registry-certificates","defaultMode":420}},{"name":"registry-token-5pttm","secret":{"secretName":"registry-token-5pttm","defaultMode":420}}],"containers":[{"name":"registry","image":"openshift/origin-docker-registry:v3.6.0-alpha.1","ports":[{"containerPort":5000,"protocol":"TCP"}],"env":[{"name":"REGISTRY_HTTP_ADDR","value":":5000"},{"name":"REGISTRY_HTTP_NET","value":"tcp"},{"name":"REGISTRY_HTTP_SECRET","value":"DrLSUivWwfpNGbR14xOSVMjzWcI+daLgw3erReThulw="},{"name":"REGISTRY_MIDDLEWARE_REPOSITORY_OPENSHIFT_ENFORCEQUOTA","value":"false"},{"name":"OPENSHIFT_DEFAULT_REGISTRY","value":"docker-registry.default.svc:5000"},{"name":"REGISTRY_HTTP_TLS_KEY","value":"/etc/secrets/registry.key"},{"name":"REGISTRY_HTTP_TLS_CERTIFICATE","value":"/etc/secrets/registry.crt"}],"resources":{"requests":{"cpu":"100m","memory":"256Mi"}},"volumeMounts":[{"name":"registry-storage","mountPath":"/registry"},{"name":"registry-certificates","mountPath":"/etc/secrets"},{"name":"registry-token-5pttm","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"livenessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"initialDelaySeconds":10,"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"readinessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"terminationMessagePath":"/dev/termination-log","imagePullPolicy":"IfNotPresent","securityContext":{"capabilities":{"drop":["KILL","MKNOD","SETGID","SETUID","SYS_CHROOT"]},"privileged":false,"seLinuxOptions":{"level":"s0:c1,c0"},"runAsUser":1000000000}}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","nodeSelector":{"region":"infra"},"serviceAccountName":"registry","serviceAccount":"registry","nodeName":"capture.context.com","securityContext":{"seLinuxOptions":{"level":"s0:c1,c0"},"supplementalGroups":[1000000000],"fsGroup":1000000000},"imagePullSecrets":[{"name":"registry-dockercfg-f9x5f"}]},"status":{"phase":"Running","conditions":[{"type":"Initialized","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-07-04T09:37:12Z"},{"type":"Ready","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-07-04T10:15:07Z"},{"type":"PodScheduled","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-07-04T09:37:12Z"}],"hostIP":"10.35.19.246","podIP":"10.128.0.8","startTime":"2017-07-04T09:37:12Z","containerStatuses":[{"name":"registry","state":{"running":{"startedAt":"2017-07-04T10:15:05Z"}},"lastState":{"terminated":{"exitCode":2,"reason":"Error","startedAt":"2017-07-04T09:37:23Z","finishedAt":"2017-07-04T10:12:49Z","containerID":"docker://a2d058de2a2e225460be2922979dd82c46daab81e395e70def32bcba188c512f"}},"ready":true,"restartCount":1,"image":"openshift/origin-docker-registry:v3.6.0-alpha.1","imageID":"docker-pullable://docker.io/openshift/origin-docker-registry@sha256:ec8130ec4591925e1b8609e03a5641e6f2be62a4859f27f59f6267a415b6c01d","containerID":"docker://9268bc0f418f746c875cbdd0ecda3f091d61701044ff210aec82ccbee8fa3777"}]}},{"metadata":{"name":"registry-console-1-mshqn","generateName":"registry-console-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/registry-console-1-mshqn","uid":"718ddc84-609c-11e7-9ac7-001a4a2314d5","resourceVersion":"1502","creationTimestamp":"2017-07-04T09:37:49Z","labels":{"app":"registry-console","deployment":"registry-console-1","deploymentconfig":"registry-console","name":"registry-console"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"registry-console-1\",\"uid\":\"706c17bf-609c-11e7-9ac7-001a4a2314d5\",\"apiVersion\":\"v1\",\"resourceVersion\":\"970\"}}\n","openshift.io/deployment-config.latest-version":"1","openshift.io/deplo[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ServiceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/services","resourceVersion":"37621"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/services/docker-registry","uid":"550f7dda-609c-11e7-9ac7-001a4a2314d5","resourceVersion":"836","creationTimestamp":"2017-07-04T09:37:01Z"},"spec":{"ports":[{"name":"5000-tcp","protocol":"TCP","port":5000,"targetPort":5000}],"selector":{"docker-registry":"default"},"clusterIP":"172.30.82.88","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/services/kubernetes","uid":"3feac76b-609b-11e7-9ac7-001a4a2314d5","resourceVersion":"115","creationTimestamp":"2017-07-04T09:29:16Z","labels":{"component":"apiserver","provider":"kubernetes"}},"spec":{"ports":[{"name":"https","protocol":"TCP","port":443,"targetPort":443},{"name":"dns","protocol":"UDP","port":53,"targetPort":8053},{"name":"dns-tcp","protocol":"TCP","port":53,"targetPort":8053}],"clusterIP":"172.30.0.1","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"registry-console","namespace":"default","selfLink":"/api/v1/namespaces/default/services/registry-console","uid":"706aad7e-609c-11e7-9ac7-001a4a2314d5","resourceVersion":"950","creationTimestamp":"2017-07-04T09:37:47Z","labels":{"app":"registry-console","createdBy":"registry-console-template","name":"registry-console"},"annotations":{"openshift.io/generated-by":"OpenShiftNewApp"}},"spec":{"ports":[{"name":"registry-console","protocol":"TCP","port":9000,"targetPort":9090}],"selector":{"name":"registry-console"},"clusterIP":"172.30.22.118","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"router","namespace":"default","selfLink":"/api/v1/namespaces/default/services/router","uid":"22cd9d17-609c-11e7-9ac7-001a4a2314d5","resourceVersion":"753","creationTimestamp":"2017-07-04T09:35:37Z","labels":{"router":"router"},"annotations":{"service.alpha.openshift.io/serving-cert-secret-name":"router-certs","service.alpha.openshift.io/serving-cert-signed-by":"openshift-service-serving-signer@1499160482"}},"spec":{"ports":[{"name":"80-tcp","protocol":"TCP","port":80,"targetPort":80},{"name":"443-tcp","protocol":"TCP","port":443,"targetPort":443},{"name":"1935-tcp","protocol":"TCP","port":1935,"targetPort":1935},{"name":"1936-tcp","protocol":"TCP","port":1936,"targetPort":1936}],"selector":{"router":"router"},"clusterIP":"172.30.224.192","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"hawkular-cassandra","namespace":"openshift-infra","selfLink":"/api/v1/namespaces/openshift-infra/services/hawkular-cassandra","uid":"76f60f28-60a2-11e7-ab39-001a4a2314d5","resourceVersion":"1742","creationTimestamp":"2017-07-04T10:20:55Z","labels":{"metrics-infra":"hawkular-cassandra","name":"hawkular-cassandra"},"annotations":{"service.alpha.openshift.io/serving-cert-generation-error":"secret/hawkular-cassandra-certs
        references serviceUID , which does not match 76f60f28-60a2-11e7-ab39-001a4a2314d5","service.alpha.openshift.io/serving-cert-generation-error-num":"10","service.alpha.openshift.io/serving-cert-secret-name":"hawkular-cassandra-certs"}},"spec":{"ports":[{"name":"cql-port","protocol":"TCP","port":9042,"targetPort":"cql-port"},{"name":"th[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/replicationcontrollers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ReplicationControllerList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/replicationcontrollers","resourceVersion":"37621"},"items":[{"metadata":{"name":"docker-registry-1","namespace":"default","selfLink":"/api/v1/namespaces/default/replicationcontrollers/docker-registry-1","uid":"5a9a86d0-609c-11e7-9ac7-001a4a2314d5","resourceVersion":"1507","generation":2,"creationTimestamp":"2017-07-04T09:37:10Z","labels":{"docker-registry":"default","openshift.io/deployment-config.name":"docker-registry"},"annotations":{"openshift.io/deployer-pod.name":"docker-registry-1-deploy","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.phase":"Complete","openshift.io/deployment.replicas":"1","openshift.io/deployment.status-reason":"config
        change","openshift.io/encoded-deployment-config":"{\"kind\":\"DeploymentConfig\",\"apiVersion\":\"v1\",\"metadata\":{\"name\":\"docker-registry\",\"namespace\":\"default\",\"selfLink\":\"/oapi/v1/namespaces/default/deploymentconfigs/docker-registry\",\"uid\":\"5a984b5c-609c-11e7-9ac7-001a4a2314d5\",\"resourceVersion\":\"892\",\"generation\":2,\"creationTimestamp\":\"2017-07-04T09:37:10Z\",\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"strategy\":{\"type\":\"Rolling\",\"rollingParams\":{\"updatePeriodSeconds\":1,\"intervalSeconds\":1,\"timeoutSeconds\":600,\"maxUnavailable\":\"25%\",\"maxSurge\":\"25%\"},\"resources\":{},\"activeDeadlineSeconds\":21600},\"triggers\":[{\"type\":\"ConfigChange\"}],\"replicas\":1,\"test\":false,\"selector\":{\"docker-registry\":\"default\"},\"template\":{\"metadata\":{\"creationTimestamp\":null,\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"volumes\":[{\"name\":\"registry-storage\",\"emptyDir\":{}},{\"name\":\"registry-certificates\",\"secret\":{\"secretName\":\"registry-certificates\",\"defaultMode\":420}}],\"containers\":[{\"name\":\"registry\",\"image\":\"openshift/origin-docker-registry:v3.6.0-alpha.1\",\"ports\":[{\"containerPort\":5000,\"protocol\":\"TCP\"}],\"env\":[{\"name\":\"REGISTRY_HTTP_ADDR\",\"value\":\":5000\"},{\"name[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"37621"},"items":[{"metadata":{"name":"capture.context.com","selfLink":"/api/v1/nodescapture.context.com","uid":"ab4d88c0-609b-11e7-9ac7-001a4a2314d5","resourceVersion":"37620","creationTimestamp":"2017-07-04T09:32:16Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/hostname":"capture.context.com","region":"infra","zone":"default"},"annotations":{"volumes.kubernetes.io/controller-managed-attach-detach":"true"}},"spec":{"externalID":"capture.context.com"},"status":{"capacity":{"alpha.kubernetes.io/nvidia-gpu":"0","cpu":"2","memory":"3880056Ki","pods":"20"},"allocatable":{"alpha.kubernetes.io/nvidia-gpu":"0","cpu":"2","memory":"3880056Ki","pods":"20"},"conditions":[{"type":"OutOfDisk","status":"False","lastHeartbeatTime":"2017-07-06T10:57:50Z","lastTransitionTime":"2017-07-04T09:32:16Z","reason":"KubeletHasSufficientDisk","message":"kubelet
        has sufficient disk space available"},{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2017-07-06T10:57:50Z","lastTransitionTime":"2017-07-04T09:32:16Z","reason":"KubeletHasSufficientMemory","message":"kubelet
        has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2017-07-06T10:57:50Z","lastTransitionTime":"2017-07-04T09:32:16Z","reason":"KubeletHasNoDiskPressure","message":"kubelet
        has no disk pressure"},{"type":"Ready","status":"True","lastHeartbeatTime":"2017-07-06T10:57:50Z","lastTransitionTime":"2017-07-04T10:14:53Z","reason":"KubeletReady","message":"kubelet
        is posting ready status"}],"addresses":[{"type":"LegacyHostIP","address":"10.35.19.246"},{"type":"InternalIP","address":"10.35.19.246"},{"type":"Hostname","address":"capture.context.com"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"ec97759e0b7d46e19f5578a4a84d832b","systemUUID":"EC97759E-0B7D-46E1-9F55-78A4A84D832B","bootID":"669366fd-10dc-43f4-b867-9785c2d80c86","kernelVersion":"3.10.0-514.26.1.el7.x86_64","osImage":"CentOS
        Linux 7 (Core)","containerRuntimeVersion":"docker://1.12.6","kubeletVersion":"v1.5.2+43a9be4","kubeProxyVersion":"v1.5.2+43a9be4","operatingSystem":"linux","architecture":"amd64"},"images":[{"names":["docker.io/openshift/origin-metrics-deployer@sha256:05b9e840e96e15c2c65ab370cf4b23b1d359ffa31ae3b5013be1c31166127d06","docker.io/openshift/origin-metrics-deployer:latest"],"sizeBytes":1143560212},{"names":["docker.io/openshift/origin-metrics-hawkular-metrics@sha256:24d14e54568cc1bcb4c121f1ee71ba6413828f8c3e07a4eac79472a626cb10cd","docker.io/openshift/origin-metrics-hawkular-metrics:latest"],"sizeBytes":886109629},{"names":["docker.io/openshift/origin-metrics-heapster@sha256:c7b6cfa00a421e98bb9847134be113d31b51398cbe0e6fd6827174b01f139119","docker.io/openshift/origin-metrics-heapster:latest"],"sizeBytes":768647571},{"names":["docker.io/openshift/origin-metrics-cassandra@sha256[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"EndpointsList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/endpoints","resourceVersion":"37621"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/docker-registry","uid":"55171b97-609c-11e7-9ac7-001a4a2314d5","resourceVersion":"1511","creationTimestamp":"2017-07-04T09:37:01Z"},"subsets":[{"addresses":[{"ip":"10.128.0.8","nodeName":"capture.context.com","targetRef":{"kind":"Pod","namespace":"default","name":"docker-registry-1-w23wd","uid":"5bae6bfe-609c-11e7-9ac7-001a4a2314d5","resourceVersion":"1504"}}],"ports":[{"name":"5000-tcp","port":5000,"protocol":"TCP"}]}]},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/kubernetes","uid":"3fed10d5-609b-11e7-9ac7-001a4a2314d5","resourceVersion":"117","creationTimestamp":"2017-07-04T09:29:16Z"},"subsets":[{"addresses":[{"ip":"10.35.19.246"}],"ports":[{"name":"h[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/namespaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces","resourceVersion":"37621"},"items":[{"metadata":{"name":"default","selfLink":"/api/v1/namespacesdefault","uid":"3f6aa774-609b-11e7-9ac7-001a4a2314d5","resourceVersion":"1436","creationTimestamp":"2017-07-04T09:29:15Z","annotations":{"openshift.io/node-selector":"","openshift.io/sa.initialized-roles":"true","openshift.io/sa.scc.mcs":"s0:c1,c0","openshift.io/sa.scc.supplemental-groups":"1000000000/10000","openshift.io/sa.scc.uid-range":"1000000000/10000"}},"spec":{"finalizers":["kubernetes","openshift.io/origin"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-system","selfLink":"/api/v1/namespaceskube-system","uid":"3f64be54-609b-11e7-9ac7-001a4a2314d5","resourceVersion":"195","creationTimestamp":"2017-07-04T09:29:15Z","annotations":{"openshift.io/sa.scc.mcs":"s0:c6,c0","openshift.io/sa.scc.supplemental-groups":"1000030000/10000","openshift.io/sa.scc.uid-range":"1000030000/10000"}},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/resourcequotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ResourceQuotaList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/resourcequotas","resourceVersion":"37621"},"items":[]}

'
  recorded_at: Thu, 06 Jul 2017 10:57:57 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/limitranges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"LimitRangeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/limitranges","resourceVersion":"37621"},"items":[]}

'
  recorded_at: Thu, 06 Jul 2017 10:57:57 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumes","resourceVersion":"37621"},"items":[]}

'
  recorded_at: Thu, 06 Jul 2017 10:57:57 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumeclaims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeClaimList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumeclaims","resourceVersion":"37621"},"items":[]}

'
  recorded_at: Thu, 06 Jul 2017 10:57:57 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/componentstatuses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ComponentStatusList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/componentstatuses"},"items":[{"metadata":{"name":"controller-manager","selfLink":"/api/v1/componentstatusescontroller-manager","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        http://127.0.0.1:10252/healthz: dial tcp 127.0.0.1:10252: getsockopt: connection
        refused"}]},{"metadata":{"name":"scheduler","selfLink":"/api/v1/componentstatusesscheduler","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        http://127.0.0.1:10251/healthz: dial tcp 127.0.0.1:10251: getsockopt: connection
        refused"}]},{"metadata":{"name":"etcd-0","selfLink":"/api/v1/componentstatusesetcd-0","creationTimestamp":null},"conditions":[{"type":"Healthy","status":"False","message":"Get
        https://capture.context.com:4001/health: remote error:
        tls: bad certificate"}]}]}

'
  recorded_at: Thu, 06 Jul 2017 10:57:57 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"appliedclusterresourcequotas","namespaced":true,"kind":"AppliedClusterResourceQuot[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"RouteList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/routes","resourceVersion":"37621"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/oapi/v1/namespaces/default/routes/docker-registry","uid":"562ae8e7-609c-11e7-9ac7-001a4a2314d5","resourceVersion":"884","creationTimestamp":"2017-07-04T09:37:03Z"},"spec":{"host":"docker-registry-default.router.default.svc.cluster.local","to":{"kind":"Service","name":"docker-registry","weight":100},"tls":{"termination":"passthrough"},"wildcardPolicy":"None"},"status":{"ingress":[{"host":"docker-registry-default.router.default.svc.cluster.local","routerName":"router","conditions":[{"type":"Admitted","status":"True","lastTransitionTime":"2017-07-04T09:37:03Z"}],"wildcardPolicy":"None"}]}},{"metadata":{"name":"registry-console","namespace":"default","selfLink":"/oapi/v1/namespaces/default/routes/registry-console","uid":"6fb88f2f-609c-11e7-9ac7-001a4a2314d5","resourceVersion":"945","creationTimestamp":"2017-07-04T09:37:46Z","annotations":{"openshift.io/host.generated":"true"}},"spec":{"host":"registry-console-default.router.default.svc.cluster.local","to":{"kind":"Service","name":"registry-console","weight":100},"tls":{"termination":"passthrough"},"wildcardPolicy":"None"},"status":{"ingress":[{"host":"registry-console-default.router.default.svc.cluster.local","routerName":"router","conditions":[{"type":"Admitted","status":"True","lastTransitionTime":"2017-07-04T09:37:46Z"}],"wildcardPolicy":"None"}]}},{"metadata":{"name":"hawkular-metrics","namespace":"openshift-infra","selfLink":"/oapi/v1/namespaces/openshift-infra/routes/hawkular-metrics","uid":"52ec6619-60a7-11e7-ab39-001a4a2314d5","resourceVersion":"2317","creationTimestamp":"2017-07-04T10:55:42Z","labels":{"metrics-infra":"hawkular-metrics","name":"hawkular-metrics"},"annotations":{"openshift.io/host.generated":"true"}},"spec":{"host":"capture.context.com","to":{"kind":"Service","name":"hawkular-metrics","weight":100},"port":{"targetPort":"https-endpoint"},"tls":{"termination":"reencrypt","destinationCACertificate":"-----BEGIN
        CERTIFICATE-----\nMIIC5jCCAc6gAwIBAgIBATANBgkqhkiG9w0BAQsFADAkMSIwIAYDVQQDDBltZXRy\naWNzLXNpZ25lckAxNDk5MTYzNjQ2MB4XDTE3MDcwNDEwMjA0NloXDTIyMDcwMzEw\nMjA0N1owJDEiMCAGA1UEAwwZbWV0cmljcy1zaWduZXJAMTQ5OTE2MzY0NjCCASIw\nDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMaMrq49inu5lM2iNwlUr4hsMpr/\nBxpA5skN4Bjq7XXERLD2bTqccrKiO2gUqZhNc5uXi2fCkLchoZHgHoUqWfglm/PX\nba3ZeX4/jKd43ltSxy40HM725OdfM2RsOK/ohxTOOKRR2ykd864e6g8c1dLp7wu4\nLsS9OrYMohl0RJSTCHOc8vL4dL58asBtiau932PTy765kLbKTUqUHjGb4nnhFaaF\nl0bCpXEhgx9NlytNpQJfCBmkA0FG78HmEWB7eOcsbdgvfzJC2zR8rFhsHT13Dnak\nK1vY4pKNGnAVy/UXaIbwMW+iZPyEvv+JIbwBuu0Bh/Tz5Nm+7kJ8aM6e0iMCAwEA\nAaMjMCEwDgYDVR0PAQH/BAQDAgKkMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcN\nAQELBQADggEBAK+r0bSbTl5k2QDbsf9BYjUPk0YqrXj7AENwqrmwN6JoKMcLU8SP\nJphUH0XRdCMk8K8dyV1sBiq62o2f647jjxNfypjAuDlb/HBwA8nDe5jwccuXqX1o\nhUmfARlQljVsCMYAVXY7ByJ2SqUjQk0O8V0bgPSrz49PywkC4oNHwsWP9oBTVp+E\n72NBuoFaDqmUAbrVpDPZ69aGf/N2r7sn0ymRUlKp+47Pn9zuveBYqs79gDwjHbEe\n3Uuba6hDqj7r4sHLYPQN1TLp1eY9SG+zuvd9wQd1rCoKQnSAt0hnpG5DXnFyUDDs\nKmE0WyTDob/L6Lxk0Ckejuul9HY5F3qcTbs=\n-----END
        CERTIFICATE-----\n"},"wildcardPolicy":"None"},"status":{"ingress":[{"host":"capture.context.com","routerName":"router","conditions":[{"type":"Admitted","status":"True","lastTransitionTime":"2017-07-04T10:55:42Z"}],"wildcardPolicy":"None"}]}}]}

'
  recorded_at: Thu, 06 Jul 2017 10:57:57 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ProjectList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/projects"},"items":[{"metadata":{"name":"default","selfLink":"/oapi/[...]
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/buildconfigs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"BuildConfigList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/buildconfigs","resourceVersion":"37621"},"items":[]}

'
  recorded_at: Thu, 06 Jul 2017 10:57:57 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"BuildList","apiVersion":"v1","metadata":{"selfLink":"/oapi/v1/builds","resourceVersion":"37621"},"items":[]}

'
  recorded_at: Thu, 06 Jul 2017 10:57:57 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/oapi/v1/templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
[...]
