---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"MetricsService":"STARTED","Implementation-Version":"0.28.4.Final-redhat-1","Built-From-Git-SHA1":"9ffa8dd648ba0b24bdc52c1717a9b0c0ae1f1472","Cassandra":"up"}'
  recorded_at: Tue, 20 Nov 2018 09:11:06 GMT
- request:
    method: post
    uri: https://capture.context.com/hawkular/metrics/m/stats/query
    body:
      encoding: UTF-8
      string: '{"start":1542644802000,"end":1542645462000,"bucketDuration":"60s","tags":"descriptor_name:cpu/usage_rate|memory/working_set,type:pod_container,host_id:yaacov-3-infra002.10.35.48.54.nip.io,pod_id:bf535857-b859-11e8-b94f-001a4a162622,container_name:registry"}'
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"gauge":{"registry/bf535857-b859-11e8-b94f-001a4a162622/memory/working_set":[{"start":1542644802000,"end":1542644862000,"min":1.3877248E7,"avg":1.3877248E7,"median":1.3877248E7,"max":1.3877248E7,"sum":2.7754496E7,"samples":2,"empty":false},{"start":1542644862000,"end":1542644922000,"min":1.3893632E7,"avg":1.3893632E7,"median":1.3893632E7,"max":1.3893632E7,"sum":2.7787264E7,"samples":2,"empty":false},{"start":1542644922000,"end":1542644982000,"min":1.3893632E7,"avg":1.3893632E7,"median":1.3893632E7,"max":1.3893632E7,"sum":2.7787264E7,"samples":2,"empty":false},{"start":1542644982000,"end":1542645042000,"min":1.3942784E7,"avg":1.3942784E7,"median":1.3942784E7,"max":1.3942784E7,"sum":2.7885568E7,"samples":2,"empty":false},{"st[...]
