---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"MetricsService":"STARTED","Implementation-Version":"0.28.4.Final-redhat-1","Built-From-Git-SHA1":"9ffa8dd648ba0b24bdc52c1717a9b0c0ae1f1472","Cassandra":"up"}'
  recorded_at: Tue, 20 Nov 2018 09:11:53 GMT
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/counters/registry%2Fbf535857-b859-11e8-b94f-001a4a162622%2Fcpu%2Fusage/stats/?bucketDuration=20s&start=1542652822000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"start":1542652822000,"end":1542652842000,"min":7.028610784668E12,"avg":7.028610784668E12,"median":7.028610784668E12,"max":7.028610784668E12,"sum":7.028610784668E12,"samples":1,"empty":false},{"start":1542652842000,"end":1542652862000,"min":7.02864253781E12,"avg":7.02864253781E12,"median":7.02864253781E12,"max":7.02864253781E12,"sum":7.02864253781E12,"samples":1,"empty":false},{"start":1542652862000,"end":1542652882000,"empty":true},{"start":1542652882000,"end":1542652902000,"min":7.028686181147E12,"avg":7.028686181147E12,"median":7.028686181147E12,"max":7.028686181147E12,"sum":7.028686181147E12,"samples":1,"empty":false},{"start":1542652902000,"end":1542652922000,"min":7.0286[...]
[...]
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/gauges/registry%2Fbf535857-b859-11e8-b94f-001a4a162622%2Fmemory%2Fworking_set/stats/?bucketDuration=20s&start=1542652842000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - default
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - ap[...]
