---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/hawkular/metrics/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"MetricsService":"STARTED","Implementation-Version":"0.28.4.Final-redhat-1","Built-From-Git-SHA1":"9ffa8dd648ba0b24bdc52c1717a9b0c0ae1f1472","Cassandra":"up"}'
  recorded_at: Tue, 20 Nov 2018 09:11:09 GMT
- request:
    method: post
    uri: https://capture.context.com/hawkular/metrics/m/stats/query
    body:
      encoding: UTF-8
      string: '{"start":1542652782000,"end":null,"bucketDuration":"60s","tags":"descriptor_name:network/tx_rate|network/rx_rate|cpu/usage_rate|memory/working_set,type:node,host_id:yaacov-3-master001.10.35.48.34.nip.io"}'
    headers:
      Hawkular-Tenant:
      - _system
      Authorization:
      - Bearer theToken
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"gauge":{"machine/yaacov-3-master001.10.35.48.34.nip.io/memory/working_set":[{"start":1542652782000,"end":1542652842000,"min":5.062033408E9,"avg":5.062144E9,"median":5.062033408E9,"max":5.062254592E9,"sum":1.0124288E10,"samples":2,"empty":false},{"start":1542652842000,"end":1542652902000,"min":5.0522112E9,"avg":5.052270592E9,"median":5.0522112E9,"max":5.052329984E9,"sum":1.0104541184E10,"samples":2,"empty":false},{"start":1542652902000,"end":1542652962000,"min":5.05167872E9,"avg":5.051717632E9,"median":5.05167872E9,"max":5.051756544E9,"sum":1.0103435264E10,"samples":2,"empty":false},{"start":1542652962000,"end":1542653022000,"min":5.038485504E9,"avg":5.045174272E9,"median":5.038485504E9,"max":5.05186304E9,"sum":1.0090348544E10,"s[...]
