---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"bindings","singularName":"","namespaced":true,"kind":"Binding","verbs":["create"]},{"name":"componentstatuses","singularName":"","namespaced":false,"kind":"ComponentStatus","verbs":["get","list"],"shortNames":["cs"]},{"name":"configmaps","singularName":"","namespaced":true,"kind":"ConfigMap","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["cm"]},{"name":"endpoints","singularName":"","namespaced":true,"kind":"Endpoints","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ep"]},{"name":"events","singularName":"","namespaced":true,"kind":"Event","verbs":["create","delete","deletecollection","get","list","p[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/pods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/pods","resourceVersion":"23389375"},"items":[{"metadata":{"name":"docker-registry-1-br95r","generateName":"docker-registry-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/docker-registry-1-br95r","uid":"bf4cb767-b859-11e8-b94f-001a4a162622","resourceVersion":"18570740","creationTimestamp":"2018-09-14T20:07:03Z","labels":{"deployment":"docker-registry-1","deploymentconfig":"docker-registry","docker-registry":"default"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"docker-registry-1\",\"uid\":\"c2a0792c-5900-11e8-a429-001a4a162622\",\"apiVersion\":\"v1\",\"resourceVersion\":\"13099410\"}}\n","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.name":"docker-registry-1","openshift.io/scc":"restricted"},"ownerReferences":[{"apiVersion":"v1","kind":"ReplicationController","name":"docker-registry-1","uid":"c2a0792c-5900-11e8-a429-001a4a162622","controller":true,"blockOwnerDeletion":true}]},"spec":{"volumes":[{"name":"registry-storage","persistentVolumeClaim":{"claimName":"registry-claim"}},{"name":"registry-certificates","secret":{"secretName":"registry-certificates","defaultMode":420}},{"name":"registry-token-lp7kk","secret":{"secretName":"registry-token-lp7kk","defaultMode":420}}],"containers":[{"name":"registry","image":"openshift3/ose-docker-registry:v3.7.27","ports":[{"containerPort":5000,"protocol":"TCP"}],"env":[{"name":"REGISTRY_HTTP_ADDR","value":":5000"},{"name":"REGISTRY_HTTP_NET","value":"tcp"},{"name":"REGISTRY_HTTP_SECRET","value":"BUHkpzDls1+kbHu5yRk3+fpKrnsqtabbad5phB6HNFI="},{"name":"REGISTRY_MIDDLEWARE_REPOSITORY_OPENSHIFT_ENFORCEQUOTA","value":"false"},{"name":"OPENSHIFT_DEFAULT_REGISTRY","value":"docker-registry.default.svc:5000"},{"name":"REGISTRY_HTTP_TLS_CERTIFICATE","value":"/etc/secrets/registry.crt"},{"name":"REGISTRY_HTTP_TLS_KEY","value":"/etc/secrets/registry.key"}],"resources":{"requests":{"cpu":"100m","memory":"256Mi"}},"volumeMounts":[{"name":"registry-storage","mountPath":"/registry"},{"name":"registry-certificates","mountPath":"/etc/secrets"},{"name":"registry-token-lp7kk","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"livenessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"initialDelaySeconds":10,"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"readinessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"IfNotPresent","securityContext":{"capabilities":{"drop":["KILL","MKNOD","SETGID","SETUID"]},"privileged":false,"seLinuxOptions":{"level":"s0:c1,c0"},"runAsUser":1000000000}}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","nodeSelector":{"region":"infra"},"serviceAccountName":"registry","serviceAccount":"registry","nodeName":"yaacov-3-infra002.10.35.48.54.nip.io","securityContext":{"seLinuxOptions":{"level":"s0:c1,c0"},"fsGroup":1000000000},"imagePullSecrets":[{"name":"registry-dockercfg-r89ck"}],"schedulerName":"default-scheduler"},"status":{"phase":"Running","conditions":[{"type":"Initialized","status":"True","lastProbeTime":null,"lastTransitionTime":"2018-09-14T20:07:03Z"},{"type":"Ready","status":"True","lastProbeTime":null,"lastTransitionTime":"2018-09-14T20:07:13Z"},{"type":"PodScheduled","status":"True","lastProbeTime":null,"lastTransitionTime":"2018-09-14T20:07:03Z"}],"hostIP":"10.35.48.54","podIP":"10.128.0.30","startTime":"2018-09-14T20:07:03Z","containerStatuses":[{"name":"registry","state":{"running":{"startedAt":"2018-09-14T20:07:09Z"}},"lastState":{},"ready":true,"restartCount":0,"image":"cm-registry.usersys.redhat.com:5001/openshift3/ose-docker-registry:v3.7.27","imageID":"docker-pullable://cm-registry.usersys.redhat.com:5001/openshift3/ose-docker-registry@sha256:e17020182626ff5e9605169f4c81154dbe548b25e7accb8234935ec2a4b3bd2f","containerID":"docker://b8ddc0f87c13c52dfb922a413c89e549c0ce41d4bde59517d0d218cabff3f638"}],"qosClass":"Burstable"}},{"metadata":{"name":"docker-registry-1-jnrtt","generateName":"docker-registry-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/docker-registry-1-jnrtt","uid":"bf535857-b859-11e8-b94f-001a4a162622","resourceVersion":"18570744","creationTimestamp":"2018-09-14T20:07:03Z","labels":{"deployment":"docker-registry-1","deploymentconfig":"docker-registry","docker-registry":"default"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersi[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ServiceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/services","resourceVersion":"23389375"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/services/docker-registry","uid":"bb9a03d8-5900-11e8-a429-001a4a162622","resourceVersion":"2522","creationTimestamp":"2018-05-16T12:00:31Z"},"spec":{"ports":[{"name":"5000-tcp","protocol":"TCP","port":5000,"targetPort":5000}],"selector":{"docker-registry":"default"},"clusterIP":"172.30.50.91","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/services/kubernetes","uid":"2144ba7d-58ff-11e8-9bf1-001a4a162622","resourceVersion":"758","creationTimestamp":"2018-05-16T11:49:03Z","labels":{"component":"apiserver","provider":"kubernetes"}},"spec":{"ports":[{"name":"https","protocol":"TCP","port":443,"targetPort":8443},{"name":"dns","protocol":"UDP","port":53,"targetPort":8053},{"name":"dns-tcp","protocol":"TCP","port":53,"targetPort":8053}],"clusterIP":"172.30.0.1","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"registry-console","namespace":"default","selfLink":"/api/v1/namespaces/default/services/registry-console","uid":"d94ebcce-5900-11e8-a429-001a4a162622","resourceVersion":"2782","creationTimestamp":"2018-05-16T12:01:21Z","labels":{"app":"registry-console","createdBy":"registry-console-template","name":"registry-console"},"annotations":{"openshift.io/generated-by":"OpenShiftNewApp"}},"spec":{"ports":[{"name":"registry-console","protocol":"TCP","port":9000,"targetPort":9090}],"selector":{"name":"registry-console"},"clusterIP":"172.30.217.201","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"router","namespace":"default","selfLink":"/api/v1/namespaces/default/services/router","uid":"3a94e625-5900-11e8-a429-001a4a162622","resourceVersion":"2007","creationTimestamp":"2018-05-16T11:56:55Z","labels":{"router":"router"},"annotations":{"prometheus.io/port":"1936","prometheus.io/scrape":"true","prometheus.openshift.io/password":"StqYRSrQK3","prometheus.openshift.io/username":"admin"}},"spec":{"ports":[{"name":"80-tcp","protocol":"TCP","port":80,"targetPort":80},{"name":"443-tcp","protocol":"TCP","port":443,"targetPort":443},{"name":"1936-tcp","protocol":"TCP","port":1936,"targetPort":1936}],"selector":{"router":"router"},"clusterIP":"172.30.116.124","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"hawkular-cassandra","namespace":"openshift-infra","selfLink":"/api/v1/namespaces/openshift-infra/services/hawkular-cassandra","uid":"027c6ba7-5901-11e8-a429-001a4a162622","resourceVersion":"3028","creationTimestamp":"2018-05-16T12:02:30Z","labels":{"metrics-infra":"hawkular-cassandra","name":"hawkular-cassandra"},"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"v1\",\"kind\":\"Service\",\"metadata\":{\"annotations\":{},\"labels\":{\"metrics-infra\":\"hawkular-cassandra\",\"name\":\"hawkular-cassandra\"},\"name\":\"hawkular-cassandra\",\"namespace\":\"openshift-infra\"},\"spec\":{\"ports\":[{\"name\":\"cql-port\",\"port\":9042,\"targetPort\":\"cql-port\"},{\"name\":\"thrift-port\",\"port\":9160,\"targetPort\":\"thrift-po[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/replicationcontrollers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ReplicationControllerList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/replicationcontrollers","resourceVersion":"23389375"},"items":[{"metadata":{"name":"docker-registry-1","namespace":"default","selfLink":"/api/v1/namespaces/default/replicationcontrollers/docker-registry-1","uid":"c2a0792c-5900-11e8-a429-001a4a162622","resourceVersion":"18570745","generation":2,"creationTimestamp":"2018-05-16T12:00:43Z","labels":{"docker-registry":"default","openshift.io/deployment-config.name":"docker-registry"},"annotations":{"openshift.io/deployer-pod.completed-at":"2018-05-16
        15:01:09 +0300 IDT","openshift.io/deployer-pod.created-at":"2018-05-16 15:00:43
        +0300 IDT","openshift.io/deployer-pod.name":"docker-registry-1-deploy","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.phase":"Complete","openshift.io/deployment.replicas":"2","openshift.io/deployment.status-reason":"config
        change","openshift.io/encoded-deployment-config":"{\"kind\":\"DeploymentConfig\",\"apiVersion\":\"v1\",\"metadata\":{\"name\":\"docker-registry\",\"namespace\":\"default\",\"selfLink\":\"/apis/apps.openshift.io/v1/namespaces/default/deploymentconfigs/docker-registry\",\"uid\":\"c29d56c4-5900-11e8-a429-001a4a162622\",\"resourceVersion\":\"2623\",\"generation\":1,\"creationTimestamp\":\"2018-05-16T12:00:43Z\",\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"strategy\":{\"type\":\"Rolling\",\"rollingParams\":{\"updatePeriodSeconds\":1,\"intervalSeconds\":1,\"timeoutSeconds\":600,\"maxUnavailable\":\"25%\",\"maxSurge\":\"25%\"},\"resources\":{},\"activeDeadlineSeconds\":21600},\"triggers\":[{\"type\":\"ConfigChange\"}],\"replicas\":2,\"test\":false,\"selector\":{\"docker-registry\":\"default\"},\"template\":{\"metadata\":{\"creationTimestamp\":null,\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"volumes\":[{\"name\":\"registry-storage\",\"persistentVolumeClaim\":{\"claimName\":\"registry-claim\"}},{\"name\":\"registry-certificates\",\"secret\":{\"secretName\":\"registry-certificates\",\"defaultMode\":420}}],\"containers\":[{\"name\":\"registry\",\"image\":\"openshift3/ose-docker-registry:v3.7.27\",\"ports\":[{\"containerPort\":5000,\"protocol\":\"TCP\"}],\"env\":[{\"name\":\"REGISTRY_HTTP[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"23389375"},"items":[{"metadata":{"name":"yaacov-3-compute001.10.35.48.55.nip.io","selfLink":"/api/v1/nodes/yaacov-3-compute001.10.35.48.55.nip.io","uid":"f2d3a62e-58ff-11e8-a429-001a4a162622","resourceVersion":"23389361","creationTimestamp":"2018-05-16T11:54:54Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/hostname":"yaacov-3-compute001.10.35.48.55.nip.io","region":"primary","zone":"default"},"annotations":{"volumes.kubernetes.io/controller-managed-attach-detach":"true"}},"spec":{"externalID":"yaacov-3-compute001.10.35.48.55.nip.io"},"status":{"capacity":{"cpu":"2","memory":"19908448Ki","pods":"20"},"allocatable":{"cpu":"2","memory":"19806048Ki","pods":"20"},"conditions":[{"type":"OutOfDisk","status":"False","lastHeartbeatTime":"2018-11-20T09:11:35Z","lastTransitionTime":"2018-10-19T07:42:11Z","reason":"KubeletHasSufficientDisk","message":"kubelet
        has sufficient disk space available"},{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2018-11-20T09:11:35Z","lastTransitionTime":"2018-10-19T07:42:11Z","reason":"KubeletHasSufficientMemory","message":"kubelet
        has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2018-11-20T09:11:35Z","lastTransitionTime":"2018-10-19T07:42:11Z","reason":"KubeletHasNoDiskPressure","message":"kubelet
        has no disk pressure"},{"type":"Ready","status":"True","lastHeartbeatTime":"2018-11-20T09:11:35Z","lastTransitionTime":"2018-10-19T07:42:11Z","reason":"KubeletReady","message":"kubelet
        is posting ready status"}],"addresses":[{"type":"InternalIP","address":"10.35.48.55"},{"type":"Hostname","address":"yaacov-3-compute001.10.35.48.55.nip.io"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"4bdc423c06554441a44182e398ed5990","systemUUID":"41BC7086-23C3-4F7A-B083-E1F6CE84888C","bootID":"36231456-95bc-4a08-81ad-0d902b7f2749","kernelVersion":"3.10.0-693.2.2.el7.x86_64","osImage":"CentOS
        Linux 7 (Core)","containerRuntimeVersion":"docker://1.12.6","kubeletVersion":"v1.7.6+a08f5eeb62","kubeProxyVersion":"v1.7.6+a08f5eeb62","operatingSystem":"linux","architecture":"amd64"},"images":[{"names":["cm-registry.usersys.redhat.com:5001/openshift3/metrics-hawkular-metrics@sha256:250bc84c03b07861af0947eef4f0f4fb3315bf3d9a7389a94cbd3b787c2dd8ca","cm-registry.usersys.redhat.com:5001/openshift3/metrics-hawkular-metrics:v3.7"],"sizeBytes":1750420145},{"names":["cm-registry.usersys.redhat.com:5001/openshift3/metrics-cassandra@sha256:b4a6d93153bc83417fb8c756beb4f146e640cdb545b17cc3fd1bcb81d118984e","cm-registry.usersys.redhat.com:5001/openshift3/metrics-cassandra:v3.7"],"sizeBytes":821777463},{"names":["cm-registry.usersys.redhat.com:5001/openshift3/metrics-heapster@sha256:f0cea9c8fb0e4578a083c30220e6a1632f5e03c19aec68d0fefeb5a4adf6985c","cm-registry.usersys.redhat.com:5001/openshift3/metrics-heapster:v3.7"],"sizeBytes":280399801},[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"EndpointsList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/endpoints","resourceVersion":"23389375"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/docker-registry","uid":"bba7554c-5900-11e8-a429-001a4a162622","resourceVersion":"18570748","creationTimestamp":"2018-05-16T12:00:31Z"},"subsets":[{"addresses":[{"ip":"10.128.0.30","nodeName":"yaacov-3-infra002.10.35.48.54.nip.io","targetRef":{"kind":"Pod","namespace":"default","name":"docker-registry-1-br95r","uid":"bf4cb767-b859-11e8-b94f-001a4a162622","resourceVersion":"18570740"}},{"ip":"10.128.0.31","nodeName":"yaacov-3-infra002.10.35.48.54.nip.io","targetRef":{"kind":"Pod","namespace":"default","name":"docker-registry-1-jnrtt","uid":"bf535857-b859-11e8-b94f-001a4a162622","resourceVersion":"18570744"}}],"ports":[{"name":"5000-tcp","port":5000,"protocol":"TCP"}]}]},{"metadata":{"name":"kubernetes","namespace":"default","selfLink"[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/namespaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces","resourceVersion":"23389375"},"items":[{"metadata":{"name":"default","selfLink":"/api/v1/namespaces/default","uid":"1b4babc4-58ff-11e8-9bf1-001a4a162622","resourceVersion":"2014","creationTimestamp":"2018-05-16T11:48:53Z","annotations":{"openshift.io/node-selector":"","openshift.io/sa.initialized-roles":"true","openshift.io/sa.scc.mcs":"s0:c1,c0","openshift.io/sa.scc.supplemental-groups":"1000000000/10000","openshift.io/sa.scc.uid-range":"1000000000/10000"}},"spec":{"finalizers":["kubernetes","openshift.io/origin"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-public","selfLink":"/api/v1/namespaces/kube-public","uid":"1b4e1183-58ff-11e8-9bf1-001a4a162622","resourceVersion":"581","creationTimestamp":"2018-05-16T11:48:53Z","annotations":{"openshift.io/sa.scc.mcs":"s0:c3,c2","openshift.io/sa.scc.supplemental-groups":"1000010000/10000","openshift.io/sa.scc.uid-range":"1000010000/10000"}},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata"[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/resourcequotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ResourceQuotaList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/resourcequotas","resourceVersion":"23389375"},"items":[]}

        '
  recorded_at: Tue, 20 Nov 2018 09:11:43 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/limitranges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"LimitRangeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/limitranges","resourceVersion":"23389375"},"items":[]}

        '
  recorded_at: Tue, 20 Nov 2018 09:11:43 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumes","resourceVersion":"23389375"},"items":[{"metadata":{"name":"metrics-volume","selfLink":"/api/v1/persistentvolumes/metrics-volume","uid":"2504a686-5900-11e8-a429-001a4a162622","resourceVersion":"3049","creationTimestamp":"2018-05-16T11:56:19Z","labels":{"storage":"metrics"},"annotations":{"pv.kubernetes.io/bound-by-controller":"yes"}},"spec":{"capacity":{"storage":"10Gi"},"nfs":{"server":"vserver-spider.eng.lab.tlv.redhat.com","path":"/vol/CM_JENKINS/yaacov-3/metrics"},"accessModes":["ReadWriteOnce"],"claimRef":{"kind":"PersistentVolumeClaim","namespace":"openshift-infra","name":"metrics-1","uid":"052f20e7-5901-11e8-a429-001a4a162622","apiVersion":"v1","resourceVersion":"3047"},"persistentVolumeReclaimPolicy":"Retain"},"status":{"phase":"Bound"}},{"metadata":{"name":"prometheus-alertbuffer-volume","selfLink":"/api/v1/persistentvolumes/prometheus-alertbuffer-volume","uid":"25062862-5900-11e8-a429-001a4a162622","resourceVersion":"3305","creationTimestamp":"2018-05-16T11:56:19Z","labels":{"storage":"prometheus-alertbuffer"},"annotations":{"pv.kubernetes.io/bound-by-controller":"yes"}},"spec":{"capacity":{"storage":"10Gi"},"nfs":{"server":"vserver-spider.eng.lab.tlv.redhat.com","path":"/vol/CM_JENKINS/ya[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumeclaims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeClaimList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumeclaims","resourceVersion":"23389375"},"items":[{"metadata":{"name":"registry-claim","namespace":"default","selfLink":"/api/v1/namespaces/default/persistentvolumeclaims/registry-claim","uid":"25da80d4-5900-11e8-a429-001a4a162622","resourceVersion":"1896","creationTimestamp":"2018-05-16T11:56:20Z","annotations":{"pv.kubernetes.io/bind-completed":"yes","pv.kubernetes.io/bound-by-controller":"yes"}},"spec":{"accessModes":["ReadWriteMany"],"resources":{"requests":{"storage":"5Gi"}},"volumeName":"registry-volume","storageClassName":""},"status":{"phase":"Bound","accessModes":["ReadWriteMany"],"capacity":{"storage":"5Gi"}}},{"metadata":{"name":"metrics-1","namespace":"openshift-infra","selfLink":"/api/v1/namespaces/openshift-infra/persistentvolumeclaims/metrics-1","uid":"052f20e7-5901-11e8-a429-001a4a162622","resourceVersion":"3051","creationTimestamp":"2018-05-16T12:02:35Z","labels":{"metrics-infra":"hawkular-cassandra"},"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"v1\",\"kind\":\"PersistentVolumeClaim\",\"metadata\":{\"annotations\":{},\"labels\":{\"metrics-infra\":\"hawkular-cassandra\"},\"name\":\"metrics-1\",\"namespace\":\"openshift-infra\"},\"spec\":{\"accessModes\":[\"ReadWriteOnce\"],\"resources\":{\"requests\":{\"storage\":\"10Gi\"}},\"selector\":{\"matchLabels\":{\"storage\":\"metrics\"}},\"storageClassName\":null}}\n","pv.kubernetes.io/bind-completed":"yes","pv.kubernetes.io/bound-by-controller":"yes"}},"spec":{"accessModes":["ReadWriteOnce"],"selector":{"matchLabels":{"storage":"metrics"}},"resources":{"requests":{"storage":"10Gi"}},"volumeName":"metrics-volume"},"status":{"phase":"Bound","accessModes":["ReadWriteOnce"],"capacity":{"storage":"10Gi"}}},{"metadata":{"name":"prometheus","namespace":"openshift-metrics","selfLink":"/api/v1/namespaces/opens[...]
