---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"bindings","singularName":"","namespaced":true,"kind":"Binding","verbs":["create"]},{"name":"componentstatuses","singularName":"","namespaced":false,"kind":"ComponentStatus","verbs":["get","list"],"shortNames":["cs"]},{"name":"configmaps","singularName":"","namespaced":true,"kind":"ConfigMap","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["cm"]},{"name":"endpoints","singularName":"","namespaced":true,"kind":"Endpoints","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ep"]},{"name":"events","singularName":"","namespaced":true,"kind":"Event","verbs":["create","delete","deletecollection","get","list","p[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/pods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PodList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/pods","resourceVersion":"61773"},"items":[{"metadata":{"name":"docker-registry-1-w690w","generateName":"docker-registry-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/docker-registry-1-w690w","uid":"6bda7ef2-b7d5-11e7-b42b-5254009b29da","resourceVersion":"59861","creationTimestamp":"2017-10-23T09:34:52Z","labels":{"deployment":"docker-registry-1","deploymentconfig":"docker-registry","docker-registry":"default"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"docker-registry-1\",\"uid\":\"6ae8a9bc-b7d5-11e7-b42b-5254009b29da\",\"apiVersion\":\"v1\",\"resourceVersion\":\"1614\"}}\n","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.name":"docker-registry-1","openshift.io/scc":"restricted"},"ownerReferences":[{"apiVersion":"v1","kind":"ReplicationController","name":"docker-registry-1","uid":"6ae8a9bc-b7d5-11e7-b42b-5254009b29da","controller":true,"blockOwnerDeletion":true}]},"spec":{"volumes":[{"name":"registry-storage","emptyDir":{"sizeLimit":"0"}},{"name":"registry-certificates","secret":{"secretName":"registry-certificates","defaultMode":420}},{"name":"registry-token-zkb2j","secret":{"secretName":"registry-token-zkb2j","defaultMode":420}}],"containers":[{"name":"registry","image":"openshift/origin-docker-registry:v3.7.0-alpha.1","ports":[{"containerPort":5000,"protocol":"TCP"}],"env":[{"name":"REGISTRY_HTTP_ADDR","value":":5000"},{"name":"REGISTRY_HTTP_NET","value":"tcp"},{"name":"REGISTRY_HTTP_SECRET","value":"PuAFQxqekm1G3z0MehmaJZk24L6gtNAEUeyuRWghhoI="},{"name":"REGISTRY_MIDDLEWARE_REPOSITORY_OPENSHIFT_ENFORCEQUOTA","value":"false"},{"name":"OPENSHIFT_DEFAULT_REGISTRY","value":"docker-registry.default.svc:5000"},{"name":"REGISTRY_HTTP_TLS_KEY","value":"/etc/secrets/registry.key"},{"name":"REGISTRY_HTTP_TLS_CERTIFICATE","value":"/etc/secrets/registry.crt"}],"resources":{"requests":{"cpu":"100m","memory":"256Mi"}},"volumeMounts":[{"name":"registry-storage","mountPath":"/registry"},{"name":"registry-certificates","mountPath":"/etc/secrets"},{"name":"registry-token-zkb2j","readOnly":true,"mountPath":"/var/run/secrets/kubernetes.io/serviceaccount"}],"livenessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"initialDelaySeconds":10,"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"readinessProbe":{"httpGet":{"path":"/healthz","port":5000,"scheme":"HTTPS"},"timeoutSeconds":5,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"IfNotPresent","securityContext":{"capabilities":{"drop":["KILL","MKNOD","SETGID","SETUID"]},"privileged":false,"seLinuxOptions":{"level":"s0:c1,c0"},"runAsUser":1000000000}}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","nodeSelector":{"region":"infra"},"serviceAccountName":"registry","serviceAccount":"registry","nodeName":"capture.context.com","securityContext":{"seLinuxOptions":{"level":"s0:c1,c0"},"fsGroup":1000000000},"imagePullSecrets":[{"name":"registry-dockercfg-srj27"}],"schedulerName":"default-scheduler"},"status":{"phase":"Running","conditions":[{"type":"Initialized","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-10-23T09:34:52Z"},{"type":"Ready","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-10-24T13:58:55Z"},{"type":"PodScheduled","status":"True","lastProbeTime":null,"lastTransitionTime":"2017-10-23T09:34:52Z"}],"hostIP":"192.168.122.165","podIP":"10.128.0.30","startTime":"2017-10-23T09:34:52Z","containerStatuses":[{"name":"registry","state":{"running":{"startedAt":"2017-10-24T11:01:27Z"}},"lastState":{"terminated":{"exitCode":1,"reason":"Error","startedAt":"2017-10-24T08:38:09Z","finishedAt":"2017-10-24T11:01:01Z","containerID":"docker://c5a3d57e037c8559ad98dabcdbe9c666df116f84980d2319c62de0438f4374b5"}},"ready":true,"restartCount":3,"image":"docker.io/openshift/origin-docker-registry:v3.7.0-alpha.1","imageID":"docker-pullable://docker.io/openshift/origin-docker-registry@sha256:f72d40df9618108174c9b510e72625a903ba35edae6114d691d320a24e81c717","containerID":"docker://131dc447362a430327c019bdf426ec636d448c9999c89545bbdad964122ff914"}],"qosClass":"Burstable"}},{"metadata":{"name":"registry-console-1-6zzv8","generateName":"registry-console-1-","namespace":"default","selfLink":"/api/v1/namespaces/default/pods/registry-console-1-6zzv8","uid":"82002a57-b7d5-11e7-b42b-5254009b29da","resourceVersion":"60069","creationTimestamp":"2017-10-23T09:35:29Z","labels":{"app":"registry-console","deployment":"registry-console-1","deploymentconfig":"registry-console","name":"registry-console"},"annotations":{"kubernetes.io/created-by":"{\"kind\":\"SerializedReference\",\"apiVersion\":\"v1\",\"reference\":{\"kind\":\"ReplicationController\",\"namespace\":\"default\",\"name\":\"registry-console-1\",\"uid\":\"80ad8f9b-b7d5-11e7-b42b-5254009b29da\",\"apiVersion\":\"v1\",\"resourceVersion\":\"1718\"}}\n","openshift.io/deployment-config.latest-version":"1","openshift.io/depl[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ServiceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/services","resourceVersion":"61773"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/services/docker-registry","uid":"644c2db1-b7d5-11e7-b42b-5254009b29da","resourceVersion":"1507","creationTimestamp":"2017-10-23T09:34:39Z"},"spec":{"ports":[{"name":"5000-tcp","protocol":"TCP","port":5000,"targetPort":5000}],"selector":{"docker-registry":"default"},"clusterIP":"172.30.88.170","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/services/kubernetes","uid":"86312498-b7d4-11e7-ac92-5254009b29da","resourceVersion":"64","creationTimestamp":"2017-10-23T09:28:27Z","labels":{"component":"apiserver","provider":"kubernetes"}},"spec":{"ports":[{"name":"https","protocol":"TCP","port":443,"targetPort":8443},{"name":"dns","protocol":"UDP","port":53,"targetPort":8053},{"name":"dns-tcp","protocol":"TCP","port":53,"targetPort":8053}],"clusterIP":"172.30.0.1","type":"ClusterIP","sessionAffinity":"ClientIP"},"status":{"loadBalancer":{}}},{"metadata":{"name":"registry-console","namespace":"default","selfLink":"/api/v1/namespaces/default/services/registry-console","uid":"80adb6b6-b7d5-11e7-b42b-5254009b29da","resourceVersion":"1698","creationTimestamp":"2017-10-23T09:35:27Z","labels":{"app":"registry-console","createdBy":"registry-console-template","name":"registry-console"},"annotations":{"openshift.io/generated-by":"OpenShiftNewApp"}},"spec":{"ports":[{"name":"registry-console","protocol":"TCP","port":9000,"targetPort":9090}],"selector":{"name":"registry-console"},"clusterIP":"172.30.125.121","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}},{"metadata":{"name":"router","namespace":"default","selfLink":"/api/v1/namespaces/default/services/router","uid":"07bfb565-b7d5-11e7-b42b-5254009b29da","resourceVersion":"1232","creationTimestamp":"2017-10-23T09:32:04Z","labels":{"router":"router"},"annotations":{"prometheus.io/port":"1936","prometheus.io/scrape":"true","prometheus.openshift.io/password":"uomksxZt8N","prometheus.openshift.io/username":"admin"}},"spec":{"ports":[{"name":"80-tcp","protocol":"TCP","port":80,"targetPort":80},{"name":"443-tcp","protocol":"TCP","port":443,"targetPort":443},{"name":"1936-tcp","protocol":"TCP","port":1936,"targetPort":1936}],"selector":{"router":"router"},"clusterIP":"172.30.49.176","type":"ClusterIP","sessionAffinity":"None"},"status":{[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/replicationcontrollers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ReplicationControllerList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/replicationcontrollers","resourceVersion":"61773"},"items":[{"metadata":{"name":"docker-registry-1","namespace":"default","selfLink":"/api/v1/namespaces/default/replicationcontrollers/docker-registry-1","uid":"6ae8a9bc-b7d5-11e7-b42b-5254009b29da","resourceVersion":"46496","generation":2,"creationTimestamp":"2017-10-23T09:34:50Z","labels":{"docker-registry":"default","openshift.io/deployment-config.name":"docker-registry"},"annotations":{"openshift.io/deployer-pod.completed-at":"2017-10-23
        12:35:12 +0300 IDT","openshift.io/deployer-pod.created-at":"2017-10-23 12:34:50
        +0300 IDT","openshift.io/deployer-pod.name":"docker-registry-1-deploy","openshift.io/deployment-config.latest-version":"1","openshift.io/deployment-config.name":"docker-registry","openshift.io/deployment.phase":"Complete","openshift.io/deployment.replicas":"1","openshift.io/deployment.status-reason":"config
        change","openshift.io/encoded-deployment-config":"{\"kind\":\"DeploymentConfig\",\"apiVersion\":\"v1\",\"metadata\":{\"name\":\"docker-registry\",\"namespace\":\"default\",\"selfLink\":\"/apis/apps.openshift.io/v1/namespaces/default/deploymentconfigs/docker-registry\",\"uid\":\"6ae5704c-b7d5-11e7-b42b-5254009b29da\",\"resourceVersion\":\"1596\",\"generation\":1,\"creationTimestamp\":\"2017-10-23T09:34:50Z\",\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"strategy\":{\"type\":\"Rolling\",\"rollingParams\":{\"updatePeriodSeconds\":1,\"intervalSeconds\":1,\"timeoutSeconds\":600,\"maxUnavailable\":\"25%\",\"maxSurge\":\"25%\"},\"resources\":{},\"activeDeadlineSeconds\":21600},\"triggers\":[{\"type\":\"ConfigChange\"}],\"replicas\":1,\"test\":false,\"selector\":{\"docker-registry\":\"default\"},\"template\":{\"metadata\":{\"creationTimestamp\":null,\"labels\":{\"docker-registry\":\"default\"}},\"spec\":{\"volumes\":[{\"name\":\"registry-storage\",\"emptyDir\":{}},{\"name\":\"registry-certificates\",\"secret\":{\"secretName\":\"registry-certificates\",\"defaultMode\":420}}],\"containers\":[{\"name\":\"registry\",\"image\":\"openshift/origin-docker-registry:v3.7.0-alpha.1\",\"ports\":[{\"containerPort\":5000,\"protocol\":\"TCP\"}],\"env\":[{\"name\":\"REGISTRY_HTTP_ADDR\",\"value\":\":5000\"},{\"name[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NodeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/nodes","resourceVersion":"61773"},"items":[{"metadata":{"name":"capture.context.com","selfLink":"/api/v1/nodes/capture.context.com","uid":"dd6f3b92-b7d4-11e7-b42b-5254009b29da","resourceVersion":"61763","creationTimestamp":"2017-10-23T09:30:53Z","labels":{"beta.kubernetes.io/arch":"amd64","beta.kubernetes.io/os":"linux","kubernetes.io/hostname":"capture.context.com","region":"infra","zone":"default"},"annotations":{"volumes.kubernetes.io/controller-managed-attach-detach":"true"}},"spec":{"externalID":"capture.context.com"},"status":{"capacity":{"cpu":"4","memory":"3894088Ki","pods":"40"},"allocatable":{"cpu":"4","memory":"3791688Ki","pods":"40"},"conditions":[{"type":"OutOfDisk","status":"False","lastHeartbeatTime":"2017-10-24T14:22:03Z","lastTransitionTime":"2017-10-24T05:53:11Z","reason":"KubeletHasSufficientDisk","message":"kubelet
        has sufficient disk space available"},{"type":"MemoryPressure","status":"False","lastHeartbeatTime":"2017-10-24T14:22:03Z","lastTransitionTime":"2017-10-24T05:53:11Z","reason":"KubeletHasSufficientMemory","message":"kubelet
        has sufficient memory available"},{"type":"DiskPressure","status":"False","lastHeartbeatTime":"2017-10-24T14:22:03Z","lastTransitionTime":"2017-10-24T05:53:11Z","reason":"KubeletHasNoDiskPressure","message":"kubelet
        has no disk pressure"},{"type":"Ready","status":"True","lastHeartbeatTime":"2017-10-24T14:22:03Z","lastTransitionTime":"2017-10-24T13:58:52Z","reason":"KubeletReady","message":"kubelet
        is posting ready status"}],"addresses":[{"type":"InternalIP","address":"192.168.122.165"},{"type":"Hostname","address":"capture.context.com"}],"daemonEndpoints":{"kubeletEndpoint":{"Port":10250}},"nodeInfo":{"machineID":"2cff2d9e096c4478ad5d40c43ddba3b2","systemUUID":"2CFF2D9E-096C-4478-AD5D-40C43DDBA3B2","bootID":"fbc029ba-521d-4315-bb77-b34a706e8b9f","kernelVersion":"3.10.0-693.2.2.el7.x86_64","osImage":"CentOS
        Linux 7 (Core)","containerRuntimeVersion":"docker://1.12.6","kubeletVersion":"v1.7.6+a08f5eeb62","kubeProxyVersion":"v1.7.6+a08f5eeb62","operatingSystem":"linux","architecture":"amd64"},"images":[{"names":["docker.io/openshift/origin-metrics-deployer@sha256:eb09bd5e38037f754700072744236452b1412eb2ef43abd70c2a036ac950152b","docker.io/openshift/origin-metrics-deployer:v3.6.0-rc.0"],"sizeBytes":1143263815},{"names":["docker.io/openshift/origin-haproxy-router@sha256:9e6c9d202cfdd96c8cdd962724e1c3574e291f942574f2e86569663233e87708","docker.io/openshift/origin-haproxy-router:v3.7.0-alpha.1"],"sizeBytes":1078491559},{"names":["docker.io/openshift/origin-deployer@sha256:92600feabaa1319a7e97fa6a4b74cf5172eb3e03d3c087b8bfd38de75d40d09a","docker.io/openshift/origin-deployer:v3.7.0-alpha.1"],"sizeBytes":1057436301},{"names":["docker.io/openshift/origin-metrics-hawkular-metrics@sha256:468dfd5a3b[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/endpoints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"EndpointsList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/endpoints","resourceVersion":"61773"},"items":[{"metadata":{"name":"docker-registry","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/docker-registry","uid":"64562b11-b7d5-11e7-b42b-5254009b29da","resourceVersion":"59873","creationTimestamp":"2017-10-23T09:34:39Z"},"subsets":[{"addresses":[{"ip":"10.128.0.30","nodeName":"capture.context.com","targetRef":{"kind":"Pod","namespace":"default","name":"docker-registry-1-w690w","uid":"6bda7ef2-b7d5-11e7-b42b-5254009b29da","resourceVersion":"59861"}}],"ports":[{"name":"5000-tcp","port":5000,"protocol":"TCP"}]}]},{"metadata":{"name":"kubernetes","namespace":"default","selfLink":"/api/v1/namespaces/default/endpoints/kubernetes","uid":"86390f69-b7d4-11e7-ac92-5254009b29da","resourceVersion":"69","creationTimestamp":"2017-10-23T09:28:27Z"},"subsets":[{"addresses":[{"ip":"192.168.122.165"}],"ports":[{"name"[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/namespaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces","resourceVersion":"61773"},"items":[{"metadata":{"name":"default","selfLink":"/api/v1/namespaces/default","uid":"86246b6f-b7d4-11e7-ac92-5254009b29da","resourceVersion":"1237","creationTimestamp":"2017-10-23T09:28:26Z","annotations":{"openshift.io/node-selector":"","openshift.io/sa.initialized-roles":"true","openshift.io/sa.scc.mcs":"s0:c1,c0","openshift.io/sa.scc.supplemental-groups":"1000000000/10000","openshift.io/sa.scc.uid-range":"1000000000/10000"}},"spec":{"finalizers":["kubernetes","openshift.io/origin"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-public","selfLink":"/api/v1/namespaces/kube-public","uid":"863d1eff-b7d4-11e7-ac92-5254009b29da","resourceVersion":"527","creationTimestamp":"2017-10-23T09:28:27Z","annotations":{"openshift.io/sa.scc.mcs":"s0:c3,c2","openshift.io/sa.scc.supplemental-groups":"1000010000/10000","openshift.io/sa.scc.uid-range":"1000010000/10000"}},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata"[...]
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/resourcequotas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ResourceQuotaList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/resourcequotas","resourceVersion":"61773"},"items":[]}

'
  recorded_at: Tue, 24 Oct 2017 14:22:11 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/limitranges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"LimitRangeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/limitranges","resourceVersion":"61773"},"items":[]}

'
  recorded_at: Tue, 24 Oct 2017 14:22:11 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumes","resourceVersion":"61773"},"items":[]}

'
  recorded_at: Tue, 24 Oct 2017 14:22:11 GMT
- request:
    method: get
    uri: https://capture.context.com:8443/api/v1/persistentvolumeclaims
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"PersistentVolumeClaimList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/persistentvolumeclaims","resourceVersion":"61773"},"items":[]}

'
  recorded_at: Tue, 24 Oct 2017 14:22:11 GMT
recorded_with: VCR 3.0.3
