---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/api/v1/query_range?end=1499852742&query=sum(container_cpu_usage_seconds_total%7Bcontainer_name=%22%22,id=%22/%22,instance=%22capture.context.com%22,job=%22kubernetes-nodes%22%7D)%20*%201e9&start=1499841622&step=20s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"resultType":"matrix","result":[{"metric":{},"values":[[1499841622,"168086952000296"],[1499841642,"168105778521872"],[1499841662,"168105778521872"],[1499841682,"168105778521872"],[1499841702,"168122669736096"],[1499841722,"168122669736096"],[1499841742,"168122669736096"],[1499841762,"168141881129482"],[1499841782,"168141881129482"],[1499841802,"168141881129482"],[1499841822,"168161302434028"],[1499841842,"168161302434028"],[1499841862,"168161302434028"],[1499841882,"168180562577278"],[1499841902,"168180562577278"],[1499841922,"168180562577278"],[14[...]
- request:
    method: get
    uri: https://capture.context.com/api/v1/query_range?end=1499852742&query=sum(container_memory_usage_bytes%7Bcontainer_name=%22%22,id=%22/%22,instance=%22capture.context.com%22,job=%22kubernetes-nodes%22%7D)&start=1499841622&step=20s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
[...]
- request:
    method: get
    uri: https://capture.context.com/api/v1/query_range?end=1499852742&query=sum(container_network_transmit_bytes_total%7Bcontainer_name=%22%22,id=%22/%22,instance=%22capture.context.com%22,job=%22kubernetes-nodes%22,interface=~%22eth.*%22%7D)&start=1499841622&step=20s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
  [...]
- request:
    method: get
    uri: https://capture.context.com/api/v1/query_range?end=1499852742&query=sum(container_network_receive_bytes_total%7Bcontainer_name=%22%22,id=%22/%22,instance=%22capture.context.com%22,job=%22kubernetes-nodes%22,interface=~%22eth.*%22%7D)&start=1499841622&step=20s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
