---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/api/v1/query_range?end=1499852742&query=sum(container_cpu_usage_seconds_total%7Bcontainer_name=%22registry%22,job=%22kubernetes-nodes%22%7D)%20*%201e9&start=1499841622&step=20s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"resultType":"matrix","result":[{"metric":{},"values":[[1499841622,"804317572382"],[1499841642,"804418936841"],[1499841662,"804418936841"],[1499841682,"804418936841"],[1499841702,"804509915090"],[1499841722,"804509915090"],[1499841742,"804509915090"],[1499841762,"804604941040"],[1499841782,"804604941040"],[1499841802,"804604941040"],[1499841822,"804699237330"],[1499841842,"804699237330"],[1499841862,"804699237330"],[1499841882,"804809146469"],[1499841902,"804809146469"],[1499841922,"804809146469"],[1499841942,"804889680612"],[1499841962,"8048896806[...]
- request:
    method: get
    uri: https://capture.context.com/api/v1/query_range?end=1499852742&query=sum(container_memory_usage_bytes%7Bcontainer_name=%22registry%22,job=%22kubernetes-nodes%22%7D)&start=1499841622&step=20s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{[...]
