---
http_interactions:
- request:
    method: get
    uri: https://prometheus.example.com/api/v1/query?query=ALL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wrong_key
      User-Agent:
      - Faraday v0.9.2
      Accept-Encoding:
      - gzip;q=1.0,deflate;q=0.6,identity;q=0.3
      Accept:
      - "*/*"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Set-Cookie:
      - _oauth_proxy=; Path=/; Domain=prometheus.example.com; Expires=Tue, 29 Aug
        2017 06:27:50 GMT; HttpOnly; Secure
      - bd337c9bdedd23361d6a22bfc4876b73=5a1c127a070a4ed5f092c7a5867ad054; path=/;
        HttpOnly; Secure
      Date:
      - Tue, 29 Aug 2017 07:27:50 GMT
      Content-Type:
      - text/html; charset=utf-8
      Transfer-Encoding:
      - chunked
    body:
      encoding: UTF-8
      string: "\n<!DOCTYPE html>\n<html lang=\"en\" charset=\"utf-8\">\n<head>\n\t<title>Sign
        In</title>\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1,
        maximum-scale=1, user-scalable=no\">\n\t<style>\n\tbody {\n\t\tfont-family:
        \"Helvetica Neue\",Helvetica,Arial,sans-serif;\n\t\tfont-size: 14px;\n\t\tline-height:
        1.42857143;\n\t\tcolor: #333;\n\t\tbackground: #f0f0f0;\n\t}\n\t.signin {\n\t\tdisplay:block;\n\t\tmargin:20px
        auto;\n\t\tmax-width:400px;\n\t\tbackground: #fff;\n\t\tborder:1px solid #ccc;\n\t\tborder-radius:
        10px;\n\t\tpadding: 20px;\n\t}\n\t.center {\n\t\ttext-align:center;\n\t}\n\t.btn
        {\n\t\tcolor: #fff;\n\t\tbackground-color: #428bca;\n\t\tborder: 1px solid
        #357ebd;\n\t\t-webkit-border-radius: 4;\n\t\t-moz-border-radius: 4;\n\t\tborder-radius:
        4px;\n\t\tfont-size: 14px;\n\t\tpadding: 6px 12px;\n\t  \ttext-decoration:
        none;\n\t\tcursor: pointer;\n\t}\n\n\t.btn:hover {\n\t\tbackground-color:
        #3071a9;\n\t\tborder-color: #285e8e;\n\t\text-decoration: none;\n\t}\n\tlabel
        {\n\t\tdisplay: inline-block;\n\t\tmax-width: 100%;\n\t\tmargin-bottom: 5px;\n\t\tfont-weight:
        700;\n\t}\n\tinput {\n\t\tdisplay: block;\n\t\twidth: 100%;\n\t\theight: 34px;\n\t\tpadding:
        6px 12px;\n\t\tfont-size: 14px;\n\t\tline-height: 1.42857143;\n\t\tcolor:
        #555;\n\t\tbackground-color: #fff;\n\t\tbackground-image: none;\n\t\tborder:
        1px solid #ccc;\n\t\tborder-radius: 4px;\n\t\t-webkit-box-shadow: inset 0
        1px 1px rgba(0,0,0,.075);\n\t\tbox-shadow: inset 0 1px 1px rgba(0,0,0,.075);\n\t\t-webkit-transition:
        border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;\n\t\t-o-transition:
        border-color ease-in-out .15s,box-shadow ease-in-out .15s;\n\t\ttransition:
        border-color ease-in-out .15s,box-shadow ease-in-out .15s;\n\t\tmargin:0;\n\t\tbox-sizing:
        border-box;\n\t}\n\tfooter {\n\t\tdisplay:block;\n\t\tfont-size:10px;\n\t\tcolor:#aaa;\n\t\ttext-align:center;\n\t\tmargin-bottom:10px;\n\t}\n\tfooter
        a {\n\t\tdisplay:inline-block;\n\t\theight:25px;\n\t\tline-height:25px;\n\t\tcolor:#aaa;\n\t\ttext-decoration:underline;\n\t}\n\tfooter
        a:hover {\n\t\tcolor:#aaa;\n\t}\n\t</style>\n</head>\n<body>\n\t<div class=\"signin
        center\">\n\t<form method=\"GET\" action=\"/oauth/start\">\n\t<input type=\"hidden\"
        name=\"rd\" value=\"/api/v1/query?query=ALL\">\n\t\n\t<button type=\"submit\"
        class=\"btn\">Sign in with a  Account</button><br/>\n\t</form>\n\t</div>\n\n\t\n\t<script>\n\t\tif
        (window.location.hash) {\n\t\t\t(function() {\n\t\t\t\tvar inputs = document.getElementsByName('rd');\n\t\t\t\tfor
        (var i = 0; i < inputs.length; i++) {\n\t\t\t\t\tinputs[i].value += window.location.hash;\n\t\t\t\t}\n\t\t\t})();\n\t\t}\n\t</script>\n\t<footer>\n\t\n\tSecured
        with <a href=\"https://github.com/openshift/oauth-proxy#oauth2_proxy\">OAuth2
        Proxy</a> version 2.2.1-alpha\n\t\n\t</footer>\n</body>\n</html>\n"
    http_version:
  recorded_at: Tue, 29 Aug 2017 07:27:50 GMT
recorded_with: VCR 3.0.3
