---
http_interactions:
- request:
    method: get
    uri: https://capture.context.com/api/v1/query_range?end=1499841942&query=sum(container_cpu_usage_seconds_total%7Bcontainer_name=%22registry%22,job=%22kubernetes-nodes%22%7D)%20*%201e9&start=1499841622&step=20s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"resultType":"matrix","result":[{"metric":{},"values":[[1499841622,"804317572382"],[1499841642,"804418936841"],[1499841662,"804418936841"],[1499841682,"804418936841"],[1499841702,"804509915090"],[1499841722,"804509915090"],[1499841742,"804509915090"],[1499841762,"804604941040"],[1499841782,"804604941040"],[1499841802,"804604941040"],[1499841822,"804699237330"],[1499841842,"804699237330"],[1499841862,"804699237330"],[1499841882,"804809146469"],[1499841902,"804809146469"],[1499841922,"804809146469"],[1499841942,"804889680612"]]}]}}'
  recorded_at: Wed, 12 Jul 2017 10:27:21 GMT
- request:
    method: get
    uri: https://capture.context.com/api/v1/query_range?end=1499841942&query=sum(container_memory_usage_bytes%7Bcontainer_name=%22registry%22,job=%22kubernetes-nodes%22%7D)&start=1499841622&step=20s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"resultType":"matrix","result":[{"metric":{},"values":[[1499841622,"15802368"],[1499841642,"15802368"],[1499841662,"15802368"],[1499841682,"15802368"],[1499841702,"15802368"],[1499841722,"15802368"],[1499841742,"15802368"],[1499841762,"15802368"],[1499841782,"15802368"],[1499841802,"15802368"],[1499841822,"15802368"],[1499841842,"15802368"],[1499841862,"15802368"],[1499841882,"15802368"],[1499841902,"15802368"],[1499841922,"15802368"],[1499841942,"15802368"]]}]}}'
  recorded_at: Wed, 12 Jul 2017 10:27:21 GMT
- request:
    method: get
    uri: https://capture.context.com/api/v1/query_range?end=1499841942&query=sum(container_network_transmit_bytes_total%7Bcontainer_name=%22POD%22,pod_name=%22docker-registry-1-4svbw%22,job=%22kubernetes-nodes%22,interface=~%22eth.*%22%7D)&start=1499841622&step=20s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"resultType":"matrix","result":[{"metric":{},"values":[[1499841622,"320319323"],[1499841642,"320356527"],[1499841662,"320356527"],[1499841682,"320356527"],[1499841702,"320392702"],[1499841722,"320392702"],[1499841742,"320392702"],[1499841762,"320436669"],[1499841782,"320436669"],[1499841802,"320436669"],[1499841822,"320473385"],[1499841842,"320473385"],[1499841862,"320473385"],[1499841882,"320504900"],[1499841902,"320504900"],[1499841922,"320504900"],[1499841942,"320542310"]]}]}}'
  recorded_at: Wed, 12 Jul 2017 10:27:21 GMT
- request:
    method: get
    uri: https://capture.context.com/api/v1/query_range?end=1499841942&query=sum(container_network_receive_bytes_total%7Bcontainer_name=%22POD%22,pod_name=%22docker-registry-1-4svbw%22,job=%22kubernetes-nodes%22,interface=~%22eth.*%22%7D)&start=1499841622&step=20s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer theToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","data":{"resultType":"matrix","result":[{"metric":{},"values":[[1499841622,"156042843"],[1499841642,"156061121"],[1499841662,"156061121"],[1499841682,"156061121"],[1499841702,"156078346"],[1499841722,"156078346"],[1499841742,"156078346"],[1499841762,"156100157"],[1499841782,"156100157"],[1499841802,"156100157"],[1499841822,"156117777"],[1499841842,"156117777"],[1499841862,"156117777"],[1499841882,"156133522"],[1499841902,"156133522"],[1499841922,"156133522"],[1499841942,"156151986"]]}]}}'
  recorded_at: Wed, 12 Jul 2017 10:27:21 GMT
recorded_with: VCR 3.0.3
